/* div {
    background-color: pink;
    height: 200px;
    width: 400px;
}

ul {
    background-color: blue;
}

li {
    background-color: greenyellow;
} */

body {
    text-align: center;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.btn {
    height: 100px;
    width: 100px;
    border: 5px solid black ;
    border-radius: 20%;
    margin: 2rem;
}

.red {
    background-Color: #d95980;
}
.yellow {
    background-color: #f99b45;
}
.green {
    background-color: #63aac0;
}
.blue {
    background-color: #819ff9;
}
.flash {
    background-color: white;
}
.userflash {
    background-color: green;
}